$mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$btnSecondary:#0866ff;
$btnPrimary:#E2E5E9;
$mainColor:#F0F2F5;

@mixin AlignCenter{
    display: flex;
    align-items: center;
}

body{
    font-family: $mainFont;
    margin: 0;
    padding: 0;
    background-color: $mainColor;
    @include AlignCenter;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote,dl, fieldset {
  margin: 0;
  padding: 0;
}

h4{
    color: black;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    li{
        list-style: none;
    }
}


button{
    border: none;
}

.DisplayNone{
    display: none;
}

.row{
    @include AlignCenter;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FlexCenter{
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.FlexColumn{
    flex-direction: column;
}