body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote, dl, fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FlexCenter {
  justify-content: center;
  align-items: center;
}