body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0F2F5;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1.34;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote, dl, fieldset, button {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
ul li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.display-none {
  display: none !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
header .sub-navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: white;
  padding: 0 16px;
  height: 60px;
  font-size: 17px;
  font-weight: 600;
  top: 50px;
  transform: translateY(0px);
  transition: transform 0.3s ease;
  z-index: 900;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
header .sub-navbar.translate {
  transform: translateY(50px);
}
header .sub-navbar div {
  padding: 0 16px;
  gap: 10px;
}
header .sub-navbar div.row {
  height: 100%;
}
@media screen and (max-width: 320px) {
  header .sub-navbar {
    padding: 0;
  }
}
header .navbar {
  height: 56px;
  padding: 0px 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
header .navbar:first-of-type div {
  gap: 10px;
}
header .navbar:first-of-type div label {
  width: 250px;
  height: 40px;
  background-color: #F0F2F5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #606770;
}
header .navbar:first-of-type div label input {
  padding: 0px 7px 0px 9px;
  background-color: #F0F2F5;
  border: none;
}
@media screen and (max-width: 1024px) {
  header .navbar:first-of-type div label input {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header .navbar:first-of-type div label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
header .navbar #main-navigation li {
  padding: 12px 40px;
}
header .navbar #main-navigation li:hover {
  background-color: #E2E5E9;
  border-radius: 10px;
}
header .navbar #main-navigation a {
  color: #65686c;
}
@media screen and (max-width: 850px) {
  header .navbar #main-navigation {
    display: none;
  }
}
header .navbar ul:nth-of-type(2) {
  padding-left: 4px;
  gap: 5px;
}
header .navbar ul:nth-of-type(2) button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .profile-header .cover-photo {
  width: calc(940px + (100vw - 1024px) * 196 / 416);
  max-height: 400px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .profile-header .cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 1000px) {
  header .profile-header .cover-photo {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
header .profile-header .profile-info-wrapper {
  margin-top: -10vh;
  padding: 0px 11px;
}
header .profile-header .profile-info-wrapper .profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
header .profile-header .profile-info-wrapper .profile-info .user-info {
  width: calc(876px + (100vw - 1024px) * 196 / 416);
}
@media screen and (max-width: 426px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info {
    flex-direction: column;
  }
}
header .profile-header .profile-info-wrapper .profile-info .user-info div {
  align-self: flex-end;
  text-align: start;
}
@media screen and (max-width: 850px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info div {
    align-self: center;
    text-align: center;
  }
}
header .profile-header .profile-info-wrapper .profile-info .user-info .actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
header .profile-header .profile-info-wrapper .profile-info .user-info .actions div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
header .profile-header .profile-info-wrapper .profile-info .user-info .actions button {
  padding: 7px 12px;
  border-radius: 10px;
  font-size: 15px;
}
header .profile-header .profile-info-wrapper .profile-info .user-info .actions button.secondary {
  background-color: #0866ff;
  color: white;
}
header .profile-header .profile-info-wrapper .profile-info .user-info .actions button.primary {
  background-color: #E2E5E9;
}
@media screen and (max-width: 850px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info .actions {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info .actions div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 320px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info .actions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  header .profile-header .profile-info-wrapper .profile-info .user-info .actions div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
header .profile-header .profile-info-wrapper .profile-info .user-info .actions #white-plus {
  filter: invert(100%);
}
header .profile-header .profile-info-wrapper .profile-info .user-info .personal-header {
  margin: 32px 0px 16px;
  width: 100%;
}
header .profile-header .profile-info-wrapper .profile-info .user-info .personal-header .personal-info h1 {
  font-size: 32px;
}
@media screen and (max-width: 850px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info .personal-header .personal-info {
    width: 100%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 850px) {
  header .profile-header .profile-info-wrapper .profile-info .user-info .personal-header {
    margin: 0;
  }
}
header .profile-header .profile-info-wrapper .profile-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .profile-header .profile-info-wrapper .profile-navigation a {
  color: #65686c;
  font-weight: bold;
  padding: 10px 16px;
}
header .profile-header .profile-info-wrapper .profile-navigation nav {
  width: calc(876px + (100vw - 1030px) * 163 / 416);
  border-top: 1px solid #E2E5E9;
  gap: 15px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 426px) {
  header .profile-header .profile-info-wrapper .profile-navigation nav {
    width: 100%;
  }
}
header .profile-header .profile-info-wrapper .profile-navigation nav a:focus {
  color: #0866ff;
  border-bottom: 3px solid #0866ff;
}
header .profile-header .profile-info-wrapper .profile-navigation nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0px;
}
@media screen and (max-width: 426px) {
  header .profile-header .profile-info-wrapper .profile-navigation nav ul li:nth-of-type(4),
  header .profile-header .profile-info-wrapper .profile-navigation nav ul li:nth-of-type(5),
  header .profile-header .profile-info-wrapper .profile-navigation nav ul li:nth-of-type(6) {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  header .profile-header .profile-info-wrapper .profile-navigation nav ul li:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  header .profile-header .profile-info-wrapper .profile-navigation nav ul li:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .profile-header .profile-info-wrapper {
    padding: 0;
  }
}
header .user-details {
  padding-right: 16px;
}
header .user-details .user-pic {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
header .user-details .user-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header a.profile-settings {
  background-color: #E2E5E9;
  border-radius: 10px;
  color: #65686c;
  font-weight: bold;
  padding: 10px 16px;
}

main {
  width: calc(876px + (100vw - 1024px) * 196 / 416);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  margin: 16px 0 16px 0;
  padding: 0px 16px;
}
main aside {
  padding: 20px 16px 20px 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0px 16px 0px 0px;
  /*
      0 (horizontal offset) the shadow is aligned with the element
      4px (vertical offset) the shadow is shifted 4 pixels downward
      8px (Blur Radius): The shadow becomes softer and more blurred as it extends outward by 8 pixels.
      0 (Spread Radius) The shadow size remains the same
      rgba(0, 0, 0, 0.2) (Color): The shadow is black (rgb(0, 0, 0)) with 20% opacity, making it semi-transparent.
  */
  height: fit-content;
}
main aside button {
  width: 100%;
  margin-top: 16px;
  border-radius: 10px;
  padding: 0px 12px;
  height: 36px;
  background-color: #E2E5E9;
  font-weight: 600;
  color: #080809;
}
@media screen and (max-width: 768px) {
  main aside {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
main .posts {
  gap: 10px;
  width: 100%;
}
main .posts .post-layout {
  padding: 12px 12px 6px 12px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}
main .posts .post-layout .link {
  font-weight: bold;
  overflow-wrap: break-word;
}
main .posts .post-layout .link:visited {
  color: royalblue;
}
main .posts .post-layout .link:link {
  color: royalblue;
}
main .posts .post-layout .post-heading {
  gap: 5px;
  font-weight: 600;
}
main .posts .post-layout .post-heading .date {
  font-size: 13px;
}
main .posts .post-layout .post-data {
  font-size: 15px;
  text-align: end;
  padding: 0px 4px 12px 16px;
}
main .posts .post-layout .comment-form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F0F2F5;
  border-radius: 30px;
}
main .posts .post-layout .comment-form input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  color: #65686c;
  flex: 1;
  background: transparent;
}
main .posts .post-layout .comment-form .comment-icons {
  display: flex;
}
main .posts .post-layout .comment-form .comment-icons button {
  margin: 0px 6px;
}
main .posts .post-layout .post-options {
  border-top: 1px solid #F0F2F5;
  border-bottom: 1px solid #F0F2F5;
  border: 4px 0px;
  justify-content: space-around;
}
main .posts .post-layout .post-options .post-btn {
  padding: 0px 12px;
  height: 44px;
  gap: 10px;
}
main .posts .post-layout .post-options .post-btn p {
  padding: 6px 4px;
}
main .posts .post-layout .comment {
  font-size: 13px;
  gap: 5px;
}
main .posts .post-layout .comment .comment-header {
  font-weight: 600;
}
main .posts .post-layout .comment .comment-options {
  font-size: 12px;
}
main .posts .post-layout .comment .comment-options div {
  gap: 10px;
  margin: 0px -8px 0px 4px;
  padding: 8px 0px 0px;
}
main .posts .post-layout .comment-content {
  padding: 8px 12px;
  border-radius: 15px;
  gap: 5px;
  font-size: 15px;
}
main .posts .post-layout .comment-content p {
  font-size: 13px;
}
main .posts .post-layout .comment-row {
  gap: 5px;
}
main .posts .post-layout .images img {
  width: 100%;
  height: auto;
}
main .posts .post-layout .images .image-wrapper {
  overflow: hidden;
  height: 320px;
}
@media screen and (max-width: 426px) {
  main .posts .post-layout .images .image-wrapper {
    height: 185px;
  }
}
@media screen and (max-width: 320px) {
  main .posts .post-layout .images .image-wrapper {
    height: 130px;
  }
}
@media screen and (max-width: 769px) {
  main .posts .post-layout {
    width: 100%;
    box-sizing: border-box;
  }
}
main .posts .post-layout .image {
  width: 100%;
  height: auto;
}
main .posts .post-layout .reaction-comments {
  padding: 6px 0px;
}
main .posts .post-layout .reaction-comments span {
  padding-left: 4px;
}
main .posts .post-layout .reaction-comments span i {
  display: inline-block;
}
@media screen and (max-width: 426px) {
  main .posts .post-layout .reaction-comments span {
    display: block;
  }
}
@media screen and (max-width: 426px) {
  main .posts .post-layout .reaction-comments p {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
  }
}

.circle-image {
  border-radius: 50%;
}

.drop-down-img {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: aliceblue;
  border: 3px solid white;
  border-radius: 50%;
}

.black-text {
  color: #080809;
}

.gray-text {
  color: #65686c;
}

.gray-background {
  background-color: #F0F2F5;
}

.post-reaction-image {
  margin-right: -4px;
}

.like {
  color: #0866ff;
  font-weight: bold;
}

.love {
  color: #DD2333;
  font-weight: bold;
}